.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.product-card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.product-card img {
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  height: 50px;
  overflow: hidden;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.product-card button {
  background: #2563eb;
  color: white;
  width: 100%;
  font-size: 16px;
}

.product-card button:hover {
  background: #1d4ed8;
}
